@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

html {
  font-size: 62.5%;
  background: #222;
}

* {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  margin: 0;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 14px; /* Chiều rộng vùng chứa scrollbar */
}
body::-webkit-scrollbar-track {
  background: #ccc; /* Màu nền ngoài của thanh scrollbar */
}
body::-webkit-scrollbar-thumb {
  background-color: #ffa500; /* Màu của thanh cuộn (scroll thumb) */
  border-radius: 5px; /* Bo góc scroll thumb */
  border: 2px solid #ccc; /* Không hỗ trợ padding, margin, transition nên dùng viền cùng màu nên để padding scroll thumb */
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #ff8000; /* Hiệu ứng di chuột đổi màu*/
}
body {
  /*cho Firefox*/
  scrollbar-width: thin; /* "auto" hoặc "thin" */
  scrollbar-color: orange #ccc; /* scroll thumb and track */
}

.content-movies {
  padding: 0 20px;
}
