$width: 220px;
.cards {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  width: $width;
  height: 100%;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  &__text {
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 15px;
    & h4 {
      font-size: 14px;
    }
  }
}

.row {
  padding-top: 30px;
}

.box {
  &__title {
    display: flex;
    align-items: flex-end;
    & h2 {
      margin-right: 15px;
      font-size: 25px;
      font-weight: 600;
      color: white;
    }
  }
  &__type {
    font-size: 13px;
    padding: 0px 6px;
    background: #5b6a7e;
    border-radius: 18px;
    align-items: center;
    line-height: 21px;
    margin-bottom: 5px;
    &-green {
      color: greenyellow;
    }
    &-hireable {
      color: rgb(47, 47, 148);
    }
  }
  &__text {
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
  }
  &__follow {
    box-shadow: -1px 1px 4px 0px;
    padding: 3px 15px;
    padding-bottom: 10px;
    border-radius: 5px;
    font-size: 35px;
    display: flex;
    align-items: center;
  }
  &__content {
    flex: 1;
    & h3 {
      font-size: 13px;
      color: #ccc;
    }
    & h4 {
      color: #fff;
      font-weight: 700;
      font-size: 25px;
    }
  }
  &__icon {
    color: deeppink;
  }
}

.button {
  --color: #6a5af9;
  font-family: 'Poppins', sans-serif;
  color: white;
  padding: 10px;
  width: 160px;
  border-radius: 4px;
  background-color: var(--color);
  cursor: pointer;
  font-weight: 500;
  outline: none;
  border: none;
  font-size: 12px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 0.2s linear;
  margin-top: 20px;
}

.button:hover {
  transform: rotateY(-15deg);
}

.info {
  box-shadow: -1px 1px 4px 0px;
  padding: 3px 15px;
  padding-bottom: 10px;
  border-radius: 5px;
  & h3 {
    font-size: 13px;
    color: #ccc;
  }
  & h4 {
    color: #fff;
    font-weight: 600;
  }
}
