.slider {
  position: relative;
}

.card {
  width: 200px !important;
  height: 360px;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  &__img {
    width: 200px;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__text {
    background: #1a1a1a;
    height: 40px;
    font-size: 15px;
    padding: 8px;
    color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: left;
  }
}

.btn__prev {
  position: absolute;
  font-size: 65px;
  z-index: 20;
  color: #ff0000;
  transform: translateY(-50%);
  top: 50%;
  left: -10px;
  cursor: pointer;
}

.btn__next {
  position: absolute;
  font-size: 65px;
  z-index: 20;
  color: #ff0000;
  transform: translateY(-50%);
  top: 50%;
  cursor: pointer;
  right: -10px;
}
